torch
mlflow==3.11.1
datasets>=2.20.0
transformers[torch]
accelerate
peft>=0.12.0
huggingface_hub>=0.24.0
tqdm
boto3
python-dotenv
langchain
langchain-core
langchain-mcp-adapters
langchain-huggingface
langchain-text-splitters
pypdf
ipywidgets
fastapi>=0.115.0
uvicorn[standard]>=0.32.0
langfuse>=3.0.0
numpy>=1.26.0
langgraph>=0.5.2
langgraph-cli[inmem]
langsmith>=0.3.0